DB_HOST=<ip de la base de datos> <string>
DB_PORT=<puerto de la base de datos> <number>
DB_USER=<usuario de la base de datos> <string>
DB_PASS=<contraseña del usuario de la base de datos> <string>
DB_NAME=<nombre de la base de datos> <string>

PORT=<puerto de la aplicacion> <number>
NODE_ENV=<entorno de ejecucion: development | production> <string>

#dev
ADMINER_PORT=<puerto de adminer> <number>