#db
DB_HOST=<ip de la base de datos> <string>
DB_PORT=<puerto de la base de datos> <number>
DB_USER=<usuario de la base de datos> <string>
DB_PASS=<contraseña del usuario de la base de datos> <string>
DB_NAME=<nombre de la base de datos> <string>

#app
PORT=<puerto de la aplicacion> <number>
NODE_ENV=<entorno de ejecucion: development | production> <string>

#auth
JWT_SECRET=<secreto JWT> <string>
REFRESH_TOKEN=
JWT_EXPIRES_IN=<duraciond del token, default=1h> <string>

#dev
ADMINER_PORT=<puerto de adminer> <number>

#rate limit
THROTTLE_TTL=<ventana en milisegundos, default=60000> <number>
THROTTLE_LIMIT=<peticiones por ventana, default=10> <number>
